<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background: #000;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
      }
      .box {
        width: 200px;
        height: 100px;
        background: red;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <% data?.forEach(el => { %>
    <div class="box">
      <%= el.name %> <%= el.id %>
      <button type="text" class="input">x</button>
    </div>
    <% }) %>
    <script>
      const inputs = document.querySelectorAll('.input');
      inputs.forEach((box) => {
        box.addEventListener('click', async () => {
          const res = await fetch(`http://localhost:3000/delete/${box.id}`);
        });
      });
    </script>
  </body>
</html>
